<!doctype html>
<html class="no-js" lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demoCMS</title>
    <link rel="stylesheet" href="/public/css/foundation.css">
    <link rel="stylesheet" href="/public/css/app.css"> 
  </head>
  <body>  
    <% include header.ejs %>
    <br>

    <div class="row">
      <div class="medium-8 columns">
        <p><img src="http://placehold.it/900x450&text=Promoted Article" alt="main article image"></p>
      </div>
      <div class="medium-4 columns">
        <p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image" alt="advertisement for deep fried Twinkies"></p>
        <p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image"></p>
      </div>
    </div>   

    <% include footer.ejs %>
    <script src="/public/js/vendor/jquery.js"></script>
    <script src="/public/js/vendor/what-input.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/public/js/vendor/foundation.js"></script>
    <script src="/public/js/app.js"></script>
    <script>
 
    </script>
  </body>
</html> 