<% include common/header.ejs %>  
  
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2> 
            <h5 class="center">پست های ارسالی</h5>
            <p class="light"></p>
          </div>
          
        </div>

        <div class="col s12 m8">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">افزودن پست جدید</h5>
          <div class="section">
            <form action="dashboard/new_post" method="POST" id="post_form">
            <div class="row">
              <div class="input-field col s10 m8 right">
                <input id="post_title" type="text" class="validate required" name="post_title" data-length="40">
                <label for="post_title">عنوان پست</label>
              </div>
              <div class="input-field col s2 m4 left">
                <div class="switch">
                  <label>
                   ثبت و انتشار
                    <input type="checkbox" id="allowToPublish" name="allowToPublish"  checked>
                    <span class="lever"></span>
                  فقط ثبت 
                  </label>
                </div>
              </div>
            </div>
            <div class="row"> 
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name="post_text" ></textarea>
                    <label for="textarea1">متن پست</label>
                  </div>
                </div> 
            </div>
            <div class="row">
              <div class="col s12 m9"> 
                 <div class="input-field" id="selectedTags"></div>
              </div>
              <div class="col s12 m3">
                <div class="row">
                  <div class="input-field col s12 right" style="direction:ltr;">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">تگ</label>
                  </div>
                </div>
              </div> 
            </div>
            <div class="row">
              <button class="waves-effect waves-light btn green darken-1" id="publishButton">انتشار</button>
            </div>
            <div class="row">
              <div class="progress hide" id="progress">
                <div class="indeterminate"></div>
              </div>
            </div> 
            </form>
          </div>
        </div> 
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="public/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>  

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="public/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
<% include common/footer.ejs %>

