<header> 
      <!-- logo and ad break -->
      <div class="row">
        <div class="medium-4 columns text-center site_header">
          <a href="/"><%= site_name %></a> 
        </div>
        <div class="medium-8 columns">
            <form action="/login" method="POST" >
              <div class="row">
                  <div class="large-4 columns float-left">
                    <label>پست الکترونیکی
                      <input type="text" placeholder="name@google.com" id="email" name="email"/>
                    </label>
                  </div>
                  <div class="large-4 columns float-left">
                    <label>رمز عبور
                      <input type="password" placeholder="1234567890" id="password" name="password" />
                    </label>
                  </div>
                  <div class="large-2 columns float-left"> 
                    <button class="button" type="submit" style="margin-top: 22px;">
                    ورود
                    </button>  
                  </div>
              </div>
            </form>
        </div>
      </div>
      <!-- / logo and ad break -->
      
      <br>

      <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div class="top-bar" id="main-menu">
        <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
          <li class="has-submenu"><a href="#">Tech</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li class="has-submenu"><a href="#">Energy</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li ><a href="#">Space</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li class="has-submenu"><a href="#">Medicine</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li class="has-submenu"><a href="#">Robotics</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li class="has-submenu"><a href="#">Tesla</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
        </ul>
      </div>

</header>