<% include common/header.ejs %>  
    
  <div class="container">
    <div class="section">
      <div class="row">
        <h5>ثبت نام</h5>
        <div class="row">
          <div class="col m6 s12 offset-m6">
          <% if(hasError === true){ %> 
            <div class="card-panel">
              <h5 class="red-text text-darken-2">خطا :</h5>
              <% errors.forEach(function(error){ %> 
              <p class="red-text text-lighten-2"> - <%= error %></p>
              <% }); %>
            </div>  
          <% } %> 
          </div>
        </div>
        <form class="col m6 s12 offset-m6" action="/signup/submit" method="POST"   autocomplete="off">
          <div class="row"> 
            <div class="input-field col s6"> 
              <input type="text" name="firstName" value="" class="validate" autocomplete="off" />
              <label for="firstName">نام خانوادگی</label>
            </div> 
            <div class="input-field col s6">
              <input type="text" name="lastName" value="" class="validate" autocomplete="off" />
              <label for="lastName">نام</label>
            </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <input type="email" name="email" id="email" value="" class="validate" autocomplete="off"/>
                <label for="email">ایمیل</label>
              </div>
          </div> 
          <div class="row">
              <div class="input-field col s12"> 
                <input type="password" name="password" id="password"  value="" class="validate" autocomplete="off" />
                <label for="password">رمز عبور</label>
              </div>
          </div> 
          <!-- this is for reseting the input field, in chrome-->
          <input type="email" class="validate" style="display: none"> 
          <!---->
          <button class="btn-large waves-effect waves-light blue darken-1 left" type="submit" name="action">ثبت
            <i class="material-icons right">send</i>
          </button> 
        </form>
      </div>
    </div>
  </div> 
  
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/public/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
<% include common/footer.ejs %> 
