<% include common/header.ejs %>
  <br> 
  <div class="container">
    <div class="row">
      <div class="col s12 m6 offset-m6">
        <div class="card-panel" style="margin-bottom:400px;"> 
          <h5> نام کاربری شما با موفقیت ثبت شد.</h5>
        </div>
      </div>
    </div>
  </div> 
<% include common/footer.ejs %> 