<% include common/header.ejs %>  
    
  <div class="container">
    <div class="section">
      <div class="row">
        <h5>ثبت نام</h5>
        <form class="right col m8 s12" action="/signup/submit" method="POST" target="remember" autocomplete="off">
          <div class="row">
              <div class="input-field col s6"> 
                <input autocomplete="off" name="firstName" type="text" value="" class="validate">
                <label for="firstName">First Name</label>
              </div>
              <div class="input-field col s6">
                <input autocomplete="off" name="lastName" type="text" value="" class="validate">
                <label for="lastName">Last Name</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" name="email" sclass="validate">
                <label for="email">Email</label>
              </div>
          </div> 
          <div class="row">
              <div class="input-field col s12"> 
                <input autocomplete="off" id="password" type="password" value="" class="validate">
                <label for="password">Password</label>
              </div>
          </div>
          
          <div class="row">
              <div class="col s12">
                This is an inline input field:
                <div class="input-field inline">
                  <input id="email" type="email" class="validate">
                  <label for="email" data-error="ایمیل اشتباه است." data-success="right">Email</label>
                </div>
              </div>
          </div>
          <input type="submit" />
        </form>
      </div>
    </div>
  </div> 
  
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="public/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
<% include common/footer.ejs %>


    <div class="row" style="margin-bottom:400px;display:none" >
      <% if(hasError === true){ %>
        <div class="row">
          <div class="alert callout" data-closable>
            <h5>خطلا:</h5> 
            <% errors.forEach(function(error){ %> 
            <p> - <%= error %></p>
            <% }); %>
            <button class="close-button" aria-label="Dismiss alert" type="button" style="left:17px !important" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div> 
        </div>
      <% } %>
     </div>