<% include common/header.ejs %>
  <br> 
  <div class="container">
    <div class="row">
      <div class="col s12 m4"> 
      </div>
      <div class="col s12 m8">
        <% if(posts.length !== 0){ %>
          <% posts.forEach(function(post){ %>
            <div class="row">
              <div class="col s12 m12">
                <div class="card white darken-1">
                  <div class="card-content brown-text">
                    <span class="card-title"><%- post.title %></span>
                    <p><%- post.text %></p>
                  </div>
                  <div class="card-action">
                    <div class="row" style="margin-bottom:0 !important">
                      <div class="col s12 m3">
                        <span class="left"><%- post.createdAt_fa %></span>
                      </div>
                      <div class="col s12 m9">
                        <a href="#">نمایش در سایت</a>
                        <a href="#">ویرایش</a> 
                        <a href="#" class="red-text text-lighten-2 deletePost" data-postid=<%- post['_id'] %> >حذف</a> 
                      </div>
                    </div> 
                  </div> 
                </div>
              </div>
            </div>
          <% }); %>
        <% } else { %>
        <div class="card-panel teal">
          <span class="white-text">
            شما تا به حال پستی ارسال نکرده اید.
          </span>
        </div>
        <% } %>
      </div>
    </div>
  </div> 
<% include common/footer.ejs %> 