body{
  background-image: url('/public/images/bg.jpg'); 
}
.myImage{
      max-width: 100%;
      height: auto;
}
.site_header{
  padding: 17px !important;
}
.site_header a{
  font-size: 2em;
  color: #555;
  font-weight: bold;
}
    .email_input:focus{
      direction: ltr; 
      text-align: left;
    }
      /*icon styles*/
  .fi-social-facebook {
    color: dodgerblue;
    font-size: 2rem;
  }
  .fi-social-youtube {
    color: red;
    font-size: 2rem;
  }
  .fi-social-pinterest {
    color: darkred;
    font-size: 2rem;
  }
  i.fi-social-instagram {
    color: brown;
    font-size: 2rem;
  }
  i.fi-social-tumblr {
    color: navy;
    font-size: 2rem;
  }
  .fi-social-twitter {
    color: skyblue;
    font-size: 2rem;
  }
