body {
  font-family: 'IRANSansWeb(FaNum)';
}

@font-face {
  font-family: 'IRANSansWeb(FaNum)';
  src: url('/public/fonts/woff/IRANSansWeb(FaNum).woff');
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}


/*Nav*/

.myNav {
  background-color: #231b64;
}

.navWrapp {
  width: 95% !important;
  margin: 0 auto !important;
}

.demoCMS-input {
  padding: 0.3rem !important;
  margin-bottom: 10px !important;
  direction: ltr;
  text-indent: 20px;
  background-color: white !important;
  color: #14103B;
}

.Inputlabel {
  text-align: center !important;
}

.btnLogin {
  background-color: #35D8B3;
  width: 100%;
}

.btnlogin:hover {
  background-color: #231b64;
  box-shadow: none;
  color: #35D8B3;
}


/*Main*/

.mainTxt {
  text-align: justify;
}

.mainHeader {
  font-weight: bolder;
  color: #231b64;
}

.mainIcon {
  color: #1c1650;
}

.contactHeader {
  font-weight: bolder;
  color: #231b64;
}

.contactTxt {
  padding: 0 30px;
}


/*Footer*/

footer.page-footer {
  margin: 0;
  background-color: #14103B;
}

.companyBio {
  text-indent: -1px;
}

.footHeader {
  text-indent: 38px;
}

.connectText {
  font-size: 1.2rem;
  position: relative;
  top: -4px;
  text-align: center;
  right: 6px;
}

.settingLink {
  font-size: 1.2rem;
  line-height: 34px;
}

.footer-copyright {
  background: linear-gradient(45deg, #64AFC0 0, #35D8B3 100%);
}

.copyRight {
  text-align: center;
}

.copyContent {
  font-size: 1rem;
  font-weight: bolder;
}

.Face {
  position: 7px;
  position: relative;
  top: 5px;
}


/*Media Queries*/

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
