body {
  font-family: 'IRANSansWeb(FaNum)';
  overflow: auto !important;
}

@font-face {
  font-family: 'IRANSansWeb(FaNum)';
  src: url('/public/fonts/woff/IRANSansWeb(FaNum).woff');
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}


/*Nav*/

.myNav {
  background-color: #231b64;
}

.navWrapp {
  width: 95% !important;
  margin: 0 auto !important;
}


/*Login Form*/

input[type=text],
input[type=email],
input[type=password] {
  box-sizing: border-box !important;
  height: 3rem;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px #fafafa inset;
}

input:-webkit-autofill:focus {
  box-shadow: inset 0 0 0px 9999px #fafafa !important;
}

.demoCMS-input {
  text-indent: 20px;
  color: #14103B;
}

.logSign {
  background-color: #35D8B3;
  margin-right: 0px !important;
  margin-left: 5px !important;
  margin-top: 0px !important;
  padding: 0 1rem !important;
}

.formBtn {
  width: 100%;
  height: 4rem;
  background: #00d1b2;
  font-size: 1.5rem;
  font-weight: bolder;
}

.lockIcon {
  color: #00d1b2;
  font-size: 4.25rem !important;
}

.userIcon {
  color: #00d1b2;
}

.loginIcon,
.signIcon {
  text-align: center;
  position: relative;
  bottom: 1rem;
}

.modalContent {
  padding: 1.5rem 3.5rem 3.5rem !important;
}

.loginModal,
.signUpModal {
  width: 40%;
  border-radius: 3px !important;
  max-height: none !important;
}

.loginField,
.signField {
  position: relative;
  bottom: 2rem;
}

.btnField {
  position: relative;
  top: 0rem;
}


/*Main*/

.newsCard {
  top: 15px;
}

.mainTxt {
  text-align: justify;
}

.postContent {
  padding: 10px !important;
}

.mainHeader {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #231b64;
}

.postTitle {
  font-size: 1.25rem !important;
}

.postTitle a {
  color: darkblue;
}

.sectionTitle {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-bottom: 5px solid #231b64;
}

.mainTitle {
  font-size: 1.25rem;
  font-weight: bolder;
  color: white;
  text-align: right;
  background-color: #231b64;
  padding: 0 20px;
  position: relative;
  top: 2px;
  margin: 0 auto;
}

.mainIcon {
  color: #1c1650;
}

.readMore {
  margin-top: 15px !important;
}

.contactHeader {
  font-weight: bolder;
  color: #231b64;
}

.contactTxt {
  padding: 0 30px;
}


/*Footer*/

footer.page-footer {
  margin: 0;
  background-color: #14103B;
}

.companyBio {
  text-indent: -1px;
}

.footHeader {
  text-indent: 38px;
}

.connectText {
  font-size: 1.2rem;
  position: relative;
  top: -4px;
  text-align: center;
  right: 6px;
}

.settingLink {
  font-size: 1.2rem;
  line-height: 34px;
}

.footer-copyright {
  background: linear-gradient(45deg, #64AFC0 0, #35D8B3 100%);
}

.copyRight {
  text-align: center;
}

.copyContent {
  font-size: 1rem;
  font-weight: bolder;
}

.Face {
  position: 7px;
  position: relative;
  top: 5px;
}


/*Media Queries*/

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.mainPost {
  background-color: rgba(121, 121, 121, 0.77);
}
