  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 m12 s12 right">
          <h5 class="white-text companyBio">بیوگرافی شرکت</h5>
          <p class="grey-text text-lighten-4">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. 
          </p>


        </div>
        <div class="col l3 m6 s6 right">
          <h5 class="white-text footHeader">تنظیمات</h5>
          <ul class="settingLink">
            <li><a class="white-text" href="#!">لینک 1</a></li>
            <li><a class="white-text" href="#!">لینک 2</a></li>
            <li><a class="white-text" href="#!">لینک 3</a></li>
            <li><a class="white-text" href="#!">لینک 4</a></li>
          </ul>
        </div>
        <div class="col l3 m6 s6 right">
          <h5 class="white-text footHeader"> ارتباط</h5>
          <ul>
            <li><a class="white-text" href="#!"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i><span class="connectText">فیسبوک</span></a></li>
            <li><a class="white-text " href="#!"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i><span class="connectText">گیتهاب</span></a></li>
            <li><a class="white-text" href="#!"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i><span class="connectText">توئیتر</span></a></li>
            <li><a class="white-text" href="#!"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></i><span class="connectText">لینکدین</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container copyRight">
   <a class="white-text copyContent" href="http://materializecss.com"> حقوق مادی و معنوی این سایت متعلق به هیچکس نمی باشد .
       <i class="material-icons Face">face</i></a>
      </div>
    </div>
  </footer>


  <script> 		
    var helperData = {};		
    helperData.serverTagsArr = <%- typeof serverTagsArr !== 'undefined' ? serverTagsArr : 'null'; %> ; 		
  </script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/public/js/materialize.js"></script>
  <script src="/public/js/init.js"></script>
  <script src="<%= typeof jsFile !== 'undefined' ? jsFile : '';%>"></script>
 <script>
//  Modal Script
     $(document).ready(function () {

      $('.modal').modal();
    });
     $(document).ready(function() {
    Materialize.updateTextFields();
  });
  // Limit Characters
   $(document).ready(function () {
 $("p.readMore").text(function(index, currentText) {
    return currentText.substr(0, 200)+ '...';
});
  });
  </script>
  </body>
</html>

