<!DOCTYPE html>
<html lang="fa" dir="<%= config.HTMLdir %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title><%= config.siteName %></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   
   <!-- Font Awesome CDN -->
  <script src="https://use.fontawesome.com/b2bea91ec5.js"></script>
</head>
<body> 

  <nav class="myNav" role="navigation">
    <div class="nav-wrapper navWrapp">
      <a id="logo-container" href="/" class="brand-logo">
      <%= config.siteName %>  
          <div class="preloader-wrapper small" id="preloader" style="direction: ltr !important;top: 12px;">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                          <div class="circle"></div>
              </div><div class="gap-patch">
                          <div class="circle"></div>
              </div><div class="circle-clipper right">
                          <div class="circle"></div>
              </div>
            </div>
          </div>  
      </a>
       
        
          
         
      <ul class="left hide-on-med-and-down">
        <% if(loggedIn === false) {%>
        <li>
                    
                <a class="waves-effect waves-light btn loginBtn logSign" href="#modal1">ورود</a>
                 <a class="waves-effect waves-light btn signUpBtn logSign" href="#modal2"><span>ثبت نام</span></a>
            
        </li>
        <% }else if(loggedIn === true){ %>
        <li>
          <div class="chip">
            <img src="/public/images/user_images/user.jpg" alt="Contact Person">
            <%= printName() %>
          </div>
        </li>
        <li>
            <a class="btn-floating btn waves-effect waves-light red" href="dashboard/new_post"><i class="material-icons">add</i></a>
        </li>  
        <% } %>
      </ul> 
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">mobile only</a></li> 
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>

    
    <!-- Login Modal -->
  <div id="modal1" class="modal loginModal">
    <div class="modal-content modalContent">   
    <p class="loginIcon"><i class="material-icons lockIcon">lock</i></p>
      <form action="/login" method="POST" id="loginFrom" class="form login grid">
        <div class="row" style="margin:0 !important">
          <div class="col l12 m12 s12 loginField">
            <input id="email" name="email" type="email"  placeholder="ایمیل" class="demoCMS-input">
          </div>
          <div class="col l12 m12 s12 loginField">
            <input id="password" name="password" type="password"  placeholder="رمز عبور" class="demoCMS-input">
          </div>
          <div class="col l12 m12 s12 loginField btnField">
              <button class="waves-effect waves-light btn formBtn modal-close" id="login_link">ورود</button>
          </div>
        </div>
      </form>
    </div>
   </div>
    <!-- SignUp Modal -->
    
  <div id="modal2" class="modal signUpModal">
    <div class="modal-content modalContent">   
    <p class="signIcon"><i class="fa fa-user fa-4x userIcon" aria-hidden="true"></i></p>
     <form action="/signup/submit" method="POST"   autocomplete="off">
     <div class="row" style="margin:0 !important">
          <div class="col l6 m6 s6 signField right">
            <input type="text" name="firstName"  placeholder="نام" class="demoCMS-input">
          </div>
          <div class="col l6 m6 s6 signField right">
            <input type="text" name="lastName"  placeholder="نام خانوادگی" class="demoCMS-input">
          </div>
          </div>     
        <div class="row" style="margin:0 !important">
          <div class="col l12 m12 s12 signField">
           <input id="email" name="email" type="email"  placeholder="ایمیل" class="demoCMS-input">
          </div>
          <div class="col l12 m12 s12 signField">
            <input type="password" name="password" id="password" placeholder="رمز عبور" class="demoCMS-input">
          </div>
          <div class="col l12 m12 s12 signField btnField">
              <button class="waves-effect waves-light btn modal-close formBtn" type="submit" name="action">ثبت</button>
          </div>
        </div>
      </form>
    </div>
   </div>
  </nav> 